/*---------------------------------------------------------------------------------------------------------------
INTRODUÇÃO
*/

.intro {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.img-fundo {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
}

.img_1203px,
.img_850px,
.img_600px {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: none;
}

.img-fundo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    animation: zoom 25s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.container-intro {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 100%;
    align-self: center;
    margin: 0 auto;
    position: relative;
}

.logo img {
    display: block;
    max-width: 100%;
}

.container-intro img {
    animation: moveBanner 1.75s 0.5s forwards;
    opacity: 0;
    position: relative;
}

.intro input {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
    background: #383e33;
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    background: #383e33;
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    background: #383e33;
    bottom: 0;
}

.versiculo {
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 auto;
    height: 80px;
    width: 520px;
}

.versiculo p {
    color: #383e33;
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.versiculo>span p {
    color: #383e33;
    font-size: 1.3em;
    text-align: right;
    font-style: italic;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveBanner {
    0% {
        transform: translateY(-30rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/*---------------------------------------------------------------------------------------------------------------
HISTORIA
*/

.hist_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 269px 269px;
    grid-template-rows: 263px 150px;
    grid-template-areas: "hist_info img_church img_bbl" "hist_info img_church img_bnc";
    gap: 10px;
}

.history h1 {
    margin: 0px 0 90px 0;
}

.history img {
    display: block;
    max-width: 100%;
}

.hist_info {
    grid-area: hist_info;
    padding-right: 20px;
}

.hist_info h2 {
    margin-bottom: 15px;
}

.img_church {
    grid-area: img_church;
}

.img_igr_1203px {
    display: none;
}

.img_bbl {
    grid-area: img_bbl;
}

.img_bnc {
    grid-area: img_bnc;
}


/*---------------------------------------------------------------------------------------------------------------
CENTRO TEOLOGICO
*/

.theology {
    background-color: #ddd8d2;
    z-index: -9;
    font-family: 'Cinzel', serif;
    height: 600px;
}

.theology h1 {
    color: #262728;
    padding-top: 30px;
    position: relative;
    z-index: 2;
}

.theology .theo_title img {
    position: relative;
    bottom: 63px;
    left: 45.5%;
    z-index: 1;
}

.theo_info {
    color: #262728;
    width: 85%;
    margin: 0 auto;
}

.theo_info p {
    text-align: center !important;
    font-weight: bold;
    position: relative;
    z-index: 2;
    font-size: 16px;
}

.m1 {
    position: relative;
    left: 71.5%;
    bottom: 92px;
    z-index: 1;
}

.m2 {
    position: relative;
    right: 26%;
    bottom: 23px;
    z-index: 1;
}

.m3 {
    position: relative;
    left: 55%;
    bottom: 68px;
    z-index: 1;
}

.arrow {
    display: table;
    margin: 15px auto 60px auto;
    animation: arrow 1s infinite alternate;
}

.theo_btn {
    display: flex;
    padding-bottom: 30px;
    padding-top: 15px;
    justify-content: center;
}

.theo_btn a:hover,
.theo_btn a:focus {
    transform: translateY(-20px) scale(1.1);
    box-shadow: 2px 4px 10px 0.5px rgba(0, 0, 0, 0.2);
    background-color: #db7301;
    border: 0px solid #db7301;
    color: #fffff0;
}

.theo_btn a {
    display: table;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid #db7301;
    color: #db7301;
    width: 180px;
    height: 65px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 1s;
    transform: translateY(0) scale(1);
}

@keyframes pray_zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}


/*---------------------------------------------------------------------------------------------------------------
PROGRAMAÇÕES 
*/

.program_belief {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program_belief dd {
    padding-left: 20px;
    text-align: justify;
}

.horarios {
    width: 50%;
    height: 879px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 10px;
}

.horarios h1 {
    margin-bottom: 60px;
}

.horarios h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.horarios dd {
    width: 260px;
}

.horarios_mobile {
    display: none;
}

.s {
    margin-top: 90px;
    margin-bottom: 30px;
}


/*---------------------------------------------------------------------------------------------------------------
CONFISSÕES
*/

.cremos {
    height: 879px;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
}

.cremos h1 {
    margin-bottom: 60px;
}

.cremos h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn_hr a {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #383e33;
    color: #383e33;
    width: 180px;
    height: 65px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 1s;
}

.btn_hr a:hover {
    transform: translateY(-10px) translateX(2px);
    box-shadow: 2px 4px 10px 0.5px rgba(0, 0, 0, 0.2);
    background-color: #383e33;
    border: 0px solid #383e33;
    color: #fffff0;
}

.btn_cr a {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #383e33;
    color: #383e33;
    width: 180px;
    height: 65px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 1s;
}

.btn_cr a:hover {
    transform: translateY(-10px) translateX(-2px);
    box-shadow: 2px 4px 10px 0.5px rgba(0, 0, 0, 0.2);
    background-color: #383e33;
    border: 0px solid #383e33;
    color: #fffff0;
}


/*---------------------------------------------------------------------------------------------------------------
DEPARTAMENTAIS
*/

.departamental {
    margin: 0 auto;
    background: url("img/ceia-dep.png") no-repeat center;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.departamental h1 {
    margin-bottom: 60px;
    margin-top: 15px;
    width: 100%;
    color: black;
}

.departamental p {
    font-weight: bold;
}

.dep_container {
    display: flex;
    flex-wrap: wrap;
}

.d_ump,
.d_uph,
.d_saf {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.btn_dp {
    width: 100%;
    align-self: flex-end;
    margin-bottom: 30px;
}

.btn_dp a {
    margin: 0 auto;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: transparent;
    color: #383e33;
    width: 180px;
    height: 65px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #383e33;
    transition: transform 1s;
}

.btn_dp a:hover {
    transform: translateY(-10px);
    box-shadow: 2px 4px 10px 0.5px rgba(0, 0, 0, 0.2);
    background-color: #383e33;
    border: 0px solid #383e33;
    color: #fffff0;
}