/*---------------------------------------------------------------------------------------------------------------
INTRODUÇÃO
*/

body {
    background-color: #ddd8d2;
    font-family: 'Cinzel', serif;
    font-weight: bold !important;
}

h1,
h2,
p {
    color: #262728;
}

.p {
    font-weight: bold;
}

.intro {
    background: url("img/bg_teo.png") no-repeat center;
    background-size: cover;
    height: 350px;
}

.versiculo {
    padding-top: 60px;
    padding-bottom: 120px;
    margin: 0 auto;
    height: 80px;
    width: 65%;
}

.versiculo div {
    display: inline;
    position: relative;
    bottom: 154px;
    right: 13%;
    z-index: -1;
}

.versiculo p {
    color: #383e33;
    font-size: 1.2em;
    margin-bottom: 15px;
    text-align: center;
}

.versiculo>span p {
    color: #383e33;
    font-size: 1.3em;
    text-align: right;
    font-style: italic;
}


/*---------------------------------------------------------------------------------------------------------------
CURSOS
*/

.cursos {
    padding: 90px 0px 90px 0px;
}

.cursos h1 {
    padding-bottom: 60px;
}

.cursos_teologicos {
    display: flex;
    padding-bottom: 60px;
}

.info::after {
    position: relative;
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background: #383e33;
    margin: 30px auto 120px auto;
    border-radius: 4px;
    left: 50%;
}

.conf .info::after {
    left: -50%;
}

.conf .info {
    order: 2;
}

.conf .cursos_img {
    order: 1;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_txt {
    width: 360px;
}

.info_title {
    margin-bottom: 0px;
}

.info_title img {
    position: relative;
}

.mancha_title_min img {
    left: 41%;
    bottom: 45px;
    z-index: -1;
}

.mancha_title_conf img {
    left: 36%;
    bottom: 32px;
    z-index: -1;
}

.mancha_title_teo img {
    left: 48%;
    bottom: 52px;
    z-index: -1;
}

.info_title h2 {
    margin: 0 auto;
}

.info p {
    margin-bottom: 15px;
    font-size: 0.8em;
}

.cursos_btn {
    display: inline-block;
}

.cursos_btn img {
    cursor: pointer;
}

.cursos_btn p {
    cursor: pointer;
}

.mancha_min {
    margin-top: 24px;
}

.mancha_conf {
    margin-top: 38px;
}

.mancha_teo {
    margin-top: -18px;
}

.mancha_min p {
    position: relative;
    bottom: 54px;
    left: 21%;
    color: #fffff0;
    font-size: 1.3em;
    font-weight: bold;
}

.mancha_conf p {
    position: relative;
    bottom: 48px;
    left: 33%;
    color: #fffff0;
    font-size: 1.3em;
    font-weight: bold;
}

.mancha_teo p {
    position: relative;
    bottom: 93px;
    left: 24%;
    color: #fffff0;
    font-size: 1.3em;
    font-weight: bold;
}


/*---------------------------------------------------------------------------------------------------------------
FOOTER
*/

.separador_theo .v {
    font-weight: normal;
}

.footer_theo {
    font-family: "Libre Baskerville";
    margin-top: 90px;
}

.separador_theo {
    background: url("img/bg_footer_theo.png") no-repeat center;
    background-size: cover;
}

.footer_theo .final {
    background-color: #db7301;
}